.links {
    background-color: transparent !important;
    border: none !important;
}
.list {
    padding: 3px 10px;
    transition: 0.5s;
}
.list:hover {
 background-color: rgba(0, 191, 255, 0.178);
}